---
layout: layouts/base.njk
templateClass: tmpl-post
---
<script defer src="https://comments.aboutdavid.me/js/commento.js"></script>
<script>
function calcrt(a){var b=Math.round(a.match(/.{1,5}/g).length/225);return console.log(b),b=0>=b?"Less than a minute read.":isNaN(b)?"Failed to calculate readtime!":`${b} min read.`,b}
</script>
<h1>{{ title }}</h1>
<small id="inject"></small>

{{ content | safe }}

<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
<div id="commento"></div>
<script>
var d = new Date("{{ date }}")
var rt = calcrt("{{ content | replace("\n", "") }}")
console.log(rt)
document.getElementById("inject").innerHTML = `${d.getMonth() + 1}/${d.getDate()}/${d.getFullYear()}, ` + rt.replace(/&\w+;/gm, "");
</script>
