---
layout: layouts/base.njk
templateClass: tmpl-post
---
<!-- Primary Meta Tags -->
<title>{{ title }}</title>
<meta name="title" content="{{ title }}">
<meta name="description" content="{{ description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url or metadata.url}}">
<meta property="og:title" content="{{ title or metadata.title}}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ url }}">
<meta property="twitter:title" content="{{ title }}">
<meta property="twitter:description" content="{{ description }}">
<meta property="twitter:image" content="">
<h1>{{ title }}</h1>

{{ content | safe }}

<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
