---
layout: layouts/base.njk
templateClass: tmpl-post
---
<script>
function calcrt(a){var b=Math.round(a/225);return 0>=b?b="Less than a minute read.":isNaN(b)?(b="Failed to calculate readtime!",console.error(b)):b=`${b} min read.`,b}
</script>
<h1>{{ title }}</h1>
<small id="inject"></small>

{{ content | safe }}

<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
<div id="commento"></div>
<script>
var d = new Date("{{ date }}")
var rt = calcrt({{ content | wordcount }})
document.getElementById("inject").innerHTML = `${d.getMonth() + 1}/${d.getDate()}/${d.getFullYear()}, ` + rt;
</script>
